website/blog-agent/blog-approval-handler.json
{
  "name": "AK Blog-Agent — Approval-Handler (Telegram)",
  "nodes": [
    {
      "id": "tg-trigger",
      "name": "Telegram: Button-Klick",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -100,
        360
      ],
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "PLATZHALTER_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "parse-callback",
      "name": "Callback parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        360
      ],
      "parameters": {
        "jsCode": "// Telegram-Callback (Button-Klick) auswerten.\nconst cq = $json.callback_query || {};\nconst raw = cq.data || '';\nconst parts = raw.split(':');\nreturn [{ json: {\n  action: parts[0] || '',\n  post_id: parts[1] || '',\n  query_id: cq.id || '',\n  chat_id: (cq.message && cq.message.chat) ? cq.message.chat.id : '',\n  message_id: cq.message ? cq.message.message_id : '',\n  raw\n}}];\n"
      }
    },
    {
      "id": "answer-callback",
      "name": "Button bestätigen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        340,
        360
      ],
      "parameters": {
        "resource": "callback",
        "operation": "answerQuery",
        "queryId": "={{ $('Callback parsen').first().json.query_id }}",
        "additionalFields": {
          "text": "Wird verarbeitet …"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "PLATZHALTER_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "switch-action",
      "name": "Freigabe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-98469",
              "leftValue": "={{ $('Callback parsen').first().json.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "archive-update",
      "name": "Archiv: published_at setzen",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        780,
        240
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_archive"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "published_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "post_id",
              "condition": "eq",
              "keyValue": "={{ $('Callback parsen').first().json.post_id }}"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "tg-confirm-publish",
      "name": "Telegram: Veröffentlicht",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        240
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Callback parsen').first().json.chat_id }}",
        "text": "=✅ Freigegeben (Post-ID {{ $('Callback parsen').first().json.post_id }}).\nIm Archiv als veröffentlicht markiert. Du kannst die Artikel-Datei jetzt ins website-Repo laden — sobald die Seite angebunden ist, läuft das automatisch.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "PLATZHALTER_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "archive-delete",
      "name": "Archiv: Eintrag löschen",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        780,
        480
      ],
      "parameters": {
        "resource": "row",
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_archive"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "post_id",
              "condition": "eq",
              "keyValue": "={{ $('Callback parsen').first().json.post_id }}"
            }
          ]
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "tg-confirm-reject",
      "name": "Telegram: Verworfen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        480
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Callback parsen').first().json.chat_id }}",
        "text": "=❌ Verworfen (Post-ID {{ $('Callback parsen').first().json.post_id }}).\nDer Archiv-Eintrag wurde gelöscht.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "PLATZHALTER_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "note2-1",
      "name": "Notiz Handler",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        120
      ],
      "parameters": {
        "content": "## Approval-Handler (Nodes 9–10)\nLauscht dauerhaft auf **callback_query** der Inline-Buttons.\n**Dieser Workflow muss aktiviert sein**, damit die Buttons funktionieren.",
        "height": 180,
        "width": 440,
        "color": 4
      }
    },
    {
      "id": "note2-2",
      "name": "Notiz CMS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        120
      ],
      "parameters": {
        "content": "## Freigabe-Aktionen (MVP, kein CMS)\n**Freigeben:** Archiv `published_at` = jetzt + Telegram-Bestätigung.\n**Verwerfen:** Archiv-Eintrag löschen + Telegram-Bestätigung.\n\nArtikel-Veröffentlichung erfolgt manuell (Datei ins website-Repo). Echtes Auto-Publish via GitHub-API später nachrüstbar.",
        "height": 160,
        "width": 440,
        "color": 4
      }
    }
  ],
  "connections": {
    "Telegram: Button-Klick": {
      "main": [
        [
          {
            "node": "Callback parsen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback parsen": {
      "main": [
        [
          {
            "node": "Button bestätigen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Button bestätigen": {
      "main": [
        [
          {
            "node": "Freigabe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freigabe?": {
      "main": [
        [
          {
            "node": "Archiv: published_at setzen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archiv: Eintrag löschen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archiv: published_at setzen": {
      "main": [
        [
          {
            "node": "Telegram: Veröffentlicht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archiv: Eintrag löschen": {
      "main": [
        [
          {
            "node": "Telegram: Verworfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  },
  "meta": {
    "templateId": "ak-blog-approval-handler"
  },
  "tags": []
}