n8n-workflows/blog-news-agent/blog-news-agent.json
{
  "name": "AK Blog-Agent — KI-Wochenrückblick",
  "nodes": [
    {
      "id": "schedule",
      "name": "Wöchentlicher Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        380
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "config",
      "name": "Einstellungen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        380
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "dry_run",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "s2",
              "name": "telegram_chat_id",
              "value": "8740574505",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "claude_model",
              "value": "claude-sonnet-4-6",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "tavily-search",
      "name": "Themen-Recherche (Tavily)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"künstliche Intelligenz OR artificial intelligence OR AI OR OpenAI OR ChatGPT\",\n  \"topic\": \"news\",\n  \"days\": 7,\n  \"max_results\": 15,\n  \"search_depth\": \"basic\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLATZHALTER_TAVILY",
          "name": "Tavily API"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "build",
      "name": "Quellen aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        380
      ],
      "parameters": {
        "jsCode": "// Quellen für den KI-Wochenrückblick aufbereiten (aus EINER breiten Suche).\n// Tavily-Ergebnisse ROBUST einlesen - egal wie n8n die HTTP-Antwort strukturiert.\nfunction fromObj(o) {\n  if (!o || typeof o !== 'object') return null;\n  if (Array.isArray(o.results)) return o.results;\n  if (o.body && Array.isArray(o.body.results)) return o.body.results;\n  if (o.data && Array.isArray(o.data.results)) return o.data.results;\n  return null;\n}\nfunction scan(items) {\n  if (!Array.isArray(items)) return null;\n  // a) ein Item enthält die results-Liste (Standardfall)\n  for (const it of items) {\n    const j = (it && it.json) ? it.json : it;\n    const r = fromObj(j);\n    if (r && r.length) return r;\n  }\n  // b) Items SIND die Ergebnisse (gesplittet -> jedes hat url)\n  const hits = items.map(it => (it && it.json) ? it.json : it).filter(x => x && x.url);\n  if (hits.length) return hits;\n  return null;\n}\n// Bewusst nur .all() (manche n8n-Versionen liefern .first() unerwartet).\nlet results = [];\ntry { results = scan($input.all()) || results; } catch (e) {}\nif (!results.length) { try { results = scan($('Themen-Recherche (Tavily)').all()) || results; } catch (e) {} }\nif (!results.length) { try { if (Array.isArray($json.results)) results = $json.results; } catch (e) {} }\n\n// Eingebaute Diagnose (zeigt im Output, was wirklich am Eingang lag)\nlet _debug = null;\ntry {\n  const a = $input.all();\n  const j0 = (a[0] && a[0].json) ? a[0].json : null;\n  _debug = {\n    input_items: a.length,\n    first_keys: j0 ? Object.keys(j0) : [],\n    results_is_array: !!(j0 && Array.isArray(j0.results)),\n    results_len: (j0 && Array.isArray(j0.results)) ? j0.results.length : -1\n  };\n} catch (e) { _debug = { err: String(e) }; }\n\n// Domain aus URL extrahieren\nconst domainOf = (url) => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); }\n  catch (e) { return ''; }\n};\n\n// Nach Tavily-Relevanz sortieren, je Domain nur die beste Meldung, max. 7 Quellen\nresults = results.slice().sort((a, b) => (b.score || 0) - (a.score || 0));\nconst seenDomains = new Set();\nconst sources = [];\nfor (const r of results) {\n  if (!r.url) continue;\n  const d = domainOf(r.url);\n  if (!d || seenDomains.has(d)) continue;\n  seenDomains.add(d);\n  const content = (r.content || r.raw_content || '')\n    .replace(/\\s+/g, ' ').trim().substring(0, 1500);\n  sources.push({\n    url: r.url,\n    title: r.title || '',\n    published_date: r.published_date || '',\n    domain: d,\n    snippet: content\n  });\n  if (sources.length >= 7) break;\n}\n\n// Mindestens 3 verschiedene Domains erforderlich (Anti-Halluzination)\nconst enough_sources = sources.length >= 3;\n\n// Exakter System-Prompt\nconst claude_system = \"Du bist Redakteur für den AK-Assistance-Blog. Zielgruppe: deutsche Handwerksbetriebe,\\ndie wissen wollen, was in der KI-Welt passiert und was es für sie bedeutet.\\n\\nDu erhältst eine Liste echter, aktueller Nachrichtenquellen zur KI-Welt. Erstelle daraus\\neinen redaktionellen Wochenrückblick.\\n\\nStrikte Regeln:\\n- Verwende AUSSCHLIESSLICH die unten gelieferten Quellen. Keine Information, die dort nicht\\n  steht, darf in den Artikel. Keine Zahlen, Zitate, Studien oder Personen erfinden.\\n- Wähle die 3–5 wichtigsten, für Handwerksbetriebe relevantesten Meldungen aus. Lass\\n  themenfremde oder belanglose Einträge weg.\\n- Ordne jede Meldung kurz ein: Was bedeutet das (falls relevant) für Handwerksbetriebe?\\n- Wenn eine Quelle unklar oder widersprüchlich ist, benenne das.\\n- Schreibe auf Deutsch, sachlich, klar, ohne Marketing-Floskeln.\\n- Länge: 600–900 Wörter.\\n- Struktur: H1-Titel, kurze Einleitung (2–3 Sätze), 3–5 H2-Abschnitte (je eine Meldung),\\n  Fazit, Quellenliste.\\n- Quellenliste am Ende als nummerierte Liste: [Nr] Titel — Domain (Datum) — URL.\\n- Verwende nur Quellen, die du auch wirklich im Text verarbeitet hast.\\n- Wenn weniger als 3 verwertbare Quellen vorhanden sind, antworte ausschließlich mit:\\n  \\\"INSUFFICIENT_SOURCES\\\".\\n\\nGib das Ergebnis als JSON zurück:\\n{\\n  \\\"title\\\": \\\"...\\\",\\n  \\\"slug\\\": \\\"...\\\",\\n  \\\"meta_description\\\": \\\"... (max 155 Zeichen, SEO-tauglich)\\\",\\n  \\\"keywords\\\": [\\\"...\\\", \\\"...\\\"],\\n  \\\"body_markdown\\\": \\\"...\\\",\\n  \\\"sources_used\\\": [{\\\"url\\\": \\\"...\\\", \\\"title\\\": \\\"...\\\", \\\"date\\\": \\\"...\\\"}]\\n}\";\n\n// User-Message: alle aufbereiteten Quellen (Titel, Domain, Datum, URL, Inhalt)\nconst quellenText = sources.map((s, i) =>\n  `[${i + 1}] ${s.title}\\nDomain: ${s.domain}\\nDatum: ${s.published_date || 'unbekannt'}\\nURL: ${s.url}\\nInhalt: ${s.snippet}`\n).join('\\n\\n');\n\nlet heute = '';\ntry { heute = $now.toFormat('dd.MM.yyyy'); } catch (e) { heute = new Date().toLocaleDateString('de-DE'); }\nconst claude_user = `Erstelle einen KI-Wochenrückblick (Stand ${heute}) aus diesen Quellen:\\n\\n${quellenText}`;\n\nreturn [{ json: {\n  enough_sources,\n  sources_count: sources.length,\n  domains_count: seenDomains.size,\n  _debug,\n  sources,\n  claude_system,\n  claude_user\n}}];\n"
      }
    },
    {
      "id": "if-enough",
      "name": "Genug Quellen (≥3 Domains)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        380
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-75525",
              "leftValue": "={{ $json.enough_sources }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "claude",
      "name": "Artikel generieren (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $('Einstellungen').first().json.claude_model, max_tokens: 4096, system: $json.claude_system, messages: [{ role: 'user', content: $json.claude_user }] }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLATZHALTER_ANTHROPIC",
          "name": "Anthropic API"
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "parse",
      "name": "Claude-Antwort parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ],
      "parameters": {
        "jsCode": "// Claude-Antwort parsen und auf Verwertbarkeit prüfen.\nconst resp = $input.first().json;\nconst text = (resp.content && resp.content[0] && resp.content[0].text) ? resp.content[0].text : '';\n\n// Anti-Halluzination: zu wenige Quellen -> klares Abbruchsignal\nif (text.trim().includes('INSUFFICIENT_SOURCES')) {\n  return [{ json: { article_valid: false, reason: 'INSUFFICIENT_SOURCES' } }];\n}\n\n// JSON aus der Antwort extrahieren (robust gegen umschließenden Text)\nlet parsed = null;\ntry {\n  parsed = JSON.parse(text.trim());\n} catch (e) {\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { parsed = JSON.parse(m[0]); } catch (e2) {} }\n}\n\n// Pflichtfelder müssen vorhanden sein, sonst gilt der Artikel als ungültig\nif (!parsed || !parsed.title || !parsed.body_markdown) {\n  return [{ json: { article_valid: false, reason: 'PARSE_ERROR' } }];\n}\n\n// Slug absichern (falls Claude keinen liefert)\nconst slug = parsed.slug || parsed.title.toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\n\nreturn [{ json: {\n  article_valid: true,\n  title: parsed.title,\n  slug,\n  meta_description: parsed.meta_description || '',\n  keywords: Array.isArray(parsed.keywords) ? parsed.keywords : [],\n  body_markdown: parsed.body_markdown,\n  sources_used: Array.isArray(parsed.sources_used) ? parsed.sources_used : []\n}}];\n"
      }
    },
    {
      "id": "if-valid",
      "name": "Artikel valide?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1380,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-6639",
              "leftValue": "={{ $json.article_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-dryrun",
      "name": "Dry-Run aktiv?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-78613",
              "leftValue": "={{ $('Einstellungen').first().json.dry_run }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "set-dummy",
      "name": "Dummy-CMS-Antwort (Dry-Run)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1",
              "name": "post_id",
              "value": "=dry-run-{{ $now.toUnixInteger() }}",
              "type": "string"
            },
            {
              "id": "d2",
              "name": "preview_url",
              "value": "https://PLATZHALTER-CMS-DOMAIN.de/preview/dry-run",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cms-create",
      "name": "CMS-Entwurf anlegen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CMS_API_URL }}/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.CMS_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $('Claude-Antwort parsen').first().json.title, slug: $('Claude-Antwort parsen').first().json.slug, content_markdown: $('Claude-Antwort parsen').first().json.body_markdown, meta_description: $('Claude-Antwort parsen').first().json.meta_description, status: 'draft', keywords: $('Claude-Antwort parsen').first().json.keywords }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "id": "archive-insert",
      "name": "Archiv-Eintrag anlegen",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2040,
        300
      ],
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_archive"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic_slug": "={{ $('Claude-Antwort parsen').first().json.slug }}",
            "title": "={{ $('Claude-Antwort parsen').first().json.title }}",
            "url_cms": "={{ $json.preview_url }}",
            "keywords": "={{ ($('Claude-Antwort parsen').first().json.keywords || []).join(', ') }}",
            "published_at": "",
            "post_id": "={{ $json.post_id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "telegram-notify",
      "name": "Telegram: Entwurf-Benachrichtigung",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2260,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Einstellungen').first().json.telegram_chat_id }}",
        "text": "=*Neuer Blog-Entwurf bereit*\n\n*Titel:* {{ $('Claude-Antwort parsen').first().json.title }}\n*Keywords:* {{ ($('Claude-Antwort parsen').first().json.keywords || []).join(', ') }}\n*Quellen verwendet:* {{ ($('Claude-Antwort parsen').first().json.sources_used || []).length }}\n\nVorschau: {{ $json.url_cms }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Veröffentlichen",
                    "additionalFields": {
                      "callback_data": "=approve:{{ $json.post_id }}"
                    }
                  },
                  {
                    "text": "❌ Verwerfen",
                    "additionalFields": {
                      "callback_data": "=reject:{{ $json.post_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "PLATZHALTER_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "tg-insufficient",
      "name": "Telegram: Zu wenige Quellen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        940,
        540
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Einstellungen').first().json.telegram_chat_id }}",
        "text": "=⚠️ *Blog-Agent abgebrochen:* Die KI-News-Suche lieferte weniger als 3 unabhängige Quellen-Domains. Kein Wochenrückblick erstellt (Anti-Halluzination).",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "PLATZHALTER_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "tg-no-article",
      "name": "Telegram: Artikel ungültig",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1380,
        540
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Einstellungen').first().json.telegram_chat_id }}",
        "text": "=⚠️ *Blog-Agent abgebrochen:* Claude konnte aus den Quellen keinen verwertbaren Artikel erstellen (Grund: {{ $json.reason }}). Kein Entwurf angelegt.",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "PLATZHALTER_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "tg-error",
      "name": "Telegram: Technischer Fehler",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        280,
        600
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Einstellungen').first().json.telegram_chat_id }}",
        "text": "=❌ *Blog-Agent — technischer Fehler:* Ein API-Aufruf ist fehlgeschlagen.\nNode: {{ $json.error?.node?.name || 'unbekannt' }}\nMeldung: {{ $json.error?.message || $json.error || 'siehe n8n-Execution-Log' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "PLATZHALTER_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "note-1",
      "name": "Notiz 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        120
      ],
      "parameters": {
        "content": "## 1–2 · Trigger & Einstellungen\nJeden **Montag 08:00** (Europe/Berlin).\n`dry_run = true` im Node 'Einstellungen' = Test ohne CMS-Call.",
        "height": 170,
        "width": 400,
        "color": 4
      }
    },
    {
      "id": "note-2",
      "name": "Notiz 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        120
      ],
      "parameters": {
        "content": "## 3–4 · Recherche & Aufbereitung\nEINE breite Tavily-Suche (deutsche KI-News). Node 'Quellen aufbereiten' nimmt je Domain die beste Meldung (max. 7), so sind 3+ unabhängige Domains praktisch garantiert. Keine fragile zweite Recherche mehr.",
        "height": 200,
        "width": 420,
        "color": 4
      }
    },
    {
      "id": "note-3",
      "name": "Notiz 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        100
      ],
      "parameters": {
        "content": "## 5–6 · Artikel & CMS\nClaude schreibt einen **Wochenrückblick** strikt aus den Quellen. `INSUFFICIENT_SOURCES` → Abbruch.\n**CMS-Node ist PLATZHALTER** (`$env.CMS_API_URL`).",
        "height": 180,
        "width": 420,
        "color": 4
      }
    },
    {
      "id": "note-4",
      "name": "Notiz 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        120
      ],
      "parameters": {
        "content": "## 7–8 · Archiv & Freigabe\nEintrag ins Archiv (`published_at` leer), dann Telegram mit **✅/❌-Buttons**. Klick-Verarbeitung: Workflow `blog-approval-handler`.",
        "height": 170,
        "width": 420,
        "color": 4
      }
    }
  ],
  "connections": {
    "Wöchentlicher Trigger": {
      "main": [
        [
          {
            "node": "Einstellungen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Einstellungen": {
      "main": [
        [
          {
            "node": "Themen-Recherche (Tavily)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Themen-Recherche (Tavily)": {
      "main": [
        [
          {
            "node": "Quellen aufbereiten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Technischer Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quellen aufbereiten": {
      "main": [
        [
          {
            "node": "Genug Quellen (≥3 Domains)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Genug Quellen (≥3 Domains)?": {
      "main": [
        [
          {
            "node": "Artikel generieren (Claude)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Zu wenige Quellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artikel generieren (Claude)": {
      "main": [
        [
          {
            "node": "Claude-Antwort parsen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Technischer Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude-Antwort parsen": {
      "main": [
        [
          {
            "node": "Artikel valide?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artikel valide?": {
      "main": [
        [
          {
            "node": "Dry-Run aktiv?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Artikel ungültig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry-Run aktiv?": {
      "main": [
        [
          {
            "node": "Dummy-CMS-Antwort (Dry-Run)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CMS-Entwurf anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dummy-CMS-Antwort (Dry-Run)": {
      "main": [
        [
          {
            "node": "Archiv-Eintrag anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CMS-Entwurf anlegen": {
      "main": [
        [
          {
            "node": "Archiv-Eintrag anlegen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Technischer Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archiv-Eintrag anlegen": {
      "main": [
        [
          {
            "node": "Telegram: Entwurf-Benachrichtigung",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Technischer Fehler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  },
  "meta": {
    "templateId": "ak-blog-wochenrueckblick"
  },
  "tags": []
}